body{
    font-family: 'Lekton', sans-serif;
    
}
header{
    background-color: #05042B ;
    display: flex;
    height: 180px;
    width: 100%;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    background-color: #05042B ;
    width: 100%;
}
.logo img{
    height: 150px;
    margin: 20px;
    
}
.imagenAlu{
    height: 180px;
}
.nombre{
    color: azure;
    font-size: 3em;
    padding: 0 auto;
    overflow: hidden;
    width: 80%;
    height: 80px;
}
.inicio{
    display: inline-block;
    text-align: right;
    line-height: 80px;
    list-style: none;
    animation: cambiar 7s infinite;
}
.final{
    display: inline-block;
    line-height: 80px;
    list-style: none;
    padding-left: 3px;
    animation: cambiar 7s infinite;
}
@keyframes cambiar {
    0%{margin-top: 0;}
    20%{margin-top: 0;}

    25%{margin-top: -80px;}
    50%{margin-top: -80px;}

    55%{margin-top: -160px;}
    80%{margin-top: -160px;}

    85%{margin-top: -80px;}
    95%{margin-top: -80px;}
    
    100%{margin-top: 0;}
}

main {
    display: flex;
    width: 100%;
    background: #E5E5E5 ;
    padding: 0 0 10% 0;
}
.parte1
{
    margin-left: 0;
    width: 60%;
} 
.IngresaTexto{
    width: 75%;
    margin-top: 7%;
    margin-left: 7%;
    background-color: rgb(252, 249, 249,07);
    font-size: 20px;
    border-radius: 20px;
    padding: 15px;
     color :#0A3871;
}
.letreroAdvertencia{
    margin-left: 9%;
    margin-top: 2%;
}
.Botones{
    display: flex;
    margin-top: 6%;
    margin-left: 22%;
}
.encriptar{
    background-color: rgba(9, 38, 119, 0.63);
    color: white;
    width: 180px;
    padding: 10px 0;
    border-radius: 15px;
    font-size: 1em;
    font-weight: bold;
    border-color: rgb(9, 38, 119);
    cursor:pointer;
}
.encriptar:hover {
    background: rgb(9, 38, 119);
    transform: scale(1.2);
}
.desencriptar{
    margin-left: 30px;
    background-color: rgba(52, 52, 54, 0.63);
    color: white;
    width: 180px;
    padding: 10px 0;
    border-radius: 15px;
    font-size: 1em;
    font-weight: bold;
    border-color: rgb(52, 52, 54);
    cursor:pointer;
}
.desencriptar:hover {
    background:  rgba(52, 52, 54, 0.849);
    transform: scale(1.2);
}
.parte2{
    margin-right: 0;
    width: 40%;
    
}

.libreta{
    width: 70%;
    height: 550px;
}
.resultadoTexto{
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}
.SalidaTexto {
    position: absolute;
    resize: none;
    width: 60%;
    height: 480px;
    margin-top: 5%;
    background-color: rgba(239, 245, 239, 0);
    font-size: 20px;
    border: none;
    padding: 33px 15px;  
   
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 15px;
    color :#0A3871;

}
.SalidaTexto:focus:hover{
    border: none;
}



.copiar{   
 position: absolute;
 display: flex;
 margin-top: 3%;
 margin-left: 33%;
 background-color: rgba(223, 176, 24, 0.63);
 color: white;
 width: 180px;
 padding: 10px 58px;
 border-radius: 15px;
 font-size: 1em;
 font-weight: bold;
 border-color: rgb(223, 176, 24);
 cursor:pointer; 
}
.copiar:hover {
    background: darkorange;
    transform: scale(1.2);
}
.infomacion{
    font-size: 15px;
}
footer{
    background-color: #05042B ;
    display: flex;
    height: 80px;
    width: 100%;
    padding: 0 0 5% 0;
   
}

.pie{
    display: flex;
    align-items: center;
    background-color: #05042B ;
    width: 100%;
}
.lupa{
    height: 180px;
 
    
}
.pie h1{
    margin-top: 10%;
    float: left;
    color: white;
    position: relative;
    font-size: 2em;
}

h1 span{
    position: absolute;
    right: 0;
    width: 0;
    background-color: #05042B;
    border-left: 1px solid white;
    animation: maquina 7s infinite alternate steps(41);
     }
        @keyframes maquina {
                from {
                    width: 100%;
                }
                to {
                    width: 0;
                }
            
        }
.tituloRedes{
    color: white;
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
}
.redesSociales{
    
    margin-top: 1%;
    width: 20%;
}
.redesSociales li{
    display: inline;
   
}
.like{
    width: 24%;
    margin-top: 45px;
    margin-left: 20px;
    
  
}

@media screen and (max-width:480px){
    header{
        height: 80px;
        width: 100%;
    }
    .logo img{
        margin: 10px;
        height: 50px;
    }
    
    .imagenDect{
        margin-top: 0;
    }
    .imagenAlu{
        height: 80px;
    }
    .nombre{
        font-size: 1em;
        height: 40px;
    }
    .inicio{    
        line-height: 40px;
    }
    .final{
        line-height: 40px
    }
    @keyframes cambiar {
        0%{margin-top: 0;}
        20%{margin-top: 0;}
    
        25%{margin-top: -40px;}
        50%{margin-top: -40px;}
    
        55%{margin-top: -80px;}
        80%{margin-top: -80px;}
    
        85%{margin-top: -40px;}
        95%{margin-top: -40px;}
        
        100%{margin-top: 0;}
    }
    main {
        display:block;
       
    }
    .parte1
    {
        width: 100%;
       
    } 
    .IngresaTexto{
        width: 60%;
        margin-left: 15%;
        font-size: 1em;
        height: 250px;
    }
    .letreroAdvertencia{
        font-size: 14px;
    }
    .Botones{
        margin-left: 20%;
    }
    .encriptar{
        width: 30%;
        padding: 5px 0;
        font-size: 10px;
    }
  
    .desencriptar{
        width: 30%;
        padding: 5px 0;
        font-size: 10px;
    }
    
    .parte2{
        width: 100%;
        margin: 25% 10px 65% 0 ;    
    }
    .libreta{
        height: 450px;
    }
    

    .resultadoTexto{
        width: 100%;
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .SalidaTexto {
        resize: none;
        margin-top: 5%;
        width: 60%;
        height: 300px;
        font-size: 1em;
        background-color: rgba(239, 245, 239, 0);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
    }
   
    
    
   
    .copiar{   
    
     width: 30%;
     margin-left:35% ;
     padding: 5px 0;
     font-size: 10px;
     padding-left: 10%;
     
 }
 footer{
    height: 50px;

 }
 .pie h1{
    font-size: 10px;
 }
 .pie img{
    height: 100px;
 
    
}
.like{
    margin-top: 30%;
}
    
  
.redesSociales{
    margin-top: 0;
    width: 35%;
    height: 10px;
    font-size: 10px;
}
    

   

}
